* {
  font-family: Morn;
}

body {
  margin: 0;
  margin-top: 5%;
  background: #f1eeec;
  background-image: url("DaymodeLighter_BG.png");
  background-size: 100% 100vh;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

#container {
  padding: 10% 20% 0px 20%;
}

#panel {
  padding: 8px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

#panel2 {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
}

#icon {
  font-size: 3vw;
  color: black;
  transition: 0.2s;
  height: 3.5vw;
}

#icon:hover {
  font-size: 3.5vw;
  cursor: pointer;
}

#window {
  background: white;
  border-radius: 5px;
  color: black;
  border: solid #d8b2c5 1px;
  width: 200px;
}

#nightmodebutton {
  color: rgb(0, 0, 0);
  font-size: 1vw;
  position: absolute;
  right: 10px;
  bottom: 10px;
  cursor: pointer;
  display: block;
}

#nightmodebutton:hover {
  color: rgb(167, 214, 245);
}

#daymodebutton {
  color: rgb(0, 0, 0);
  font-size: 1vw;
  position: absolute;
  right: 10px;
  bottom: 10px;
  cursor: pointer;
  display: none;
}

@font-face {
  font-family: Morn;
  src: url("Morn-Thin.otf");
}
