* {
  font-family: Morn;
}

body {
  margin: 0;
  margin-top: 5%;
  background: #f1eeec;
  background-image: url("Splash_BG.png");
  background-size: 100% 100vh;
  background-repeat: no-repeat;
  background-attachment: fixed;
  overflow-y: hidden; /* Hide vertical scrollbar */
  overflow-x: hidden; /* Hide horizontal scrollbar */
}

#banner {
  background-image: url("Splash_banner.png");
  background-size: 100% 100vh;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
  position: absolute;
  z-index: 1;
  transition: 0.2s;
  top: -5%;
}

#panel {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  transform: rotate(-5deg);
}

#stuffing {
  border: solid red 5px;
  height: 59%;
  width: 70%;
  color: black;
  position: fixed;
  top: 40vh;
  left: 20vw;
  z-index: 4;
  font-size: 2.5vh;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

#contentbox {
  background-image: url("Splash_window_white.png");
  background-size: 100% 100vh;
  opacity: 80%;
  height: 100vh;
  width: 100%;
  position: absolute;
  z-index: -1;
  left: 0%;
  bottom: 0%;
  transition: 0.5s ease-in;
}

#icon {
  align-self: center;
  font-size: 3vw;
  color: white;
  transition: 0.4s;
  height: 3.5vh;
  margin-bottom: 61vh;
  transform: rotate(5deg);
}

#icon:hover {
  font-size: 3.5vw;
  cursor: pointer;
  animation: wobble 5s infinite;
  color: #fff;
  text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #fff, 0 0 40px;
  -webkit-animation-duration: 1.5s;
  animation-duration: 1.5s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
}

@keyframes wobble {
  16.65% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }
  33.3% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
  }
  49.95% {
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
  }
  66.6% {
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px);
  }
  83.25% {
    -webkit-transform: translateY(1px);
    transform: translateY(1px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

#nightmodebutton {
  color: rgb(0, 0, 0);
  font-size: 2vh;
  position: fixed;
  right: 10px;
  bottom: 10px;
  cursor: pointer;
  display: block;
}

#nightmodebutton:hover {
  color: rgb(0, 195, 255);
}

#daymodebutton {
  color: rgb(0, 0, 0);
  font-size: 2vh;
  position: absolute;
  right: 10px;
  bottom: 10px;
  cursor: pointer;
  display: none;
}

.home {
  position: absolute;
  top: 1vh;
  left: 5vh;
  z-index: 3;
}

@font-face {
  font-family: Morn;
  src: url("Morn-Thin.otf");
}

/* Contactpage */
#contact {
  height: 40vh;
  width: 40vh;
  border-radius: 200px;
}

.contacttext {
  align-self: center;
  font-size: 1em;
}
